body {
     font-family: Times New Roman;
     margin: 0;
     padding: 0;
     background: white;
     color: black;
}

nav {
     display: flex; 
     justify-content: center;
     background-color: #EDD3EC;
     padding: 0;
     margin: 0;
}

nav a {
     display: block;
     padding: 14px 20px;
     text-decoration: none;
     color: black; 
     font-weight: bold;
}

nav a.active {
     background-color: #E1A6FF;
     color: white; 
}

nav a:hover {
     text-decoration: underline;
}

.dayblog {
     display: flex; 
     justify-content: space-between; 
     align-items: baseline; 
     padding: 0 50px; 
     margin: 0;
     border-bottom: 2px solid #C756FF; 
     margin-bottom: 30px;
}

.dayblog select, h2 {
     opacity: 0;
     transform: translateY(20px);
     animation: fadeUp 1s ease forwards;
}

.dayblog select, h2:hover {
     transform: scale(1.05);
     transition: all 0.3s ease-in-out;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dayblog select {
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     background-color: transparent;
     border: none;
     padding: 50px 0 10px 0;
     font-size: 36px;
     font-family: Times New Roman, serif;
     font-weight: bold;
     text-shadow: 0 4px 4px #C756FF;
     cursor: pointer;
     outline: none;
}

.dayblog select:hover {
     text-decoration: underline;
}

.dayblog h2 {
     padding: 50px 0 10px 0; 
     margin: 0;
     font-size: 36px; 
}

.blog {
     font-family: "Poppins", sans-serif;
     font-weight: 200;
     font-style: normal;
     font-size: 20px;
     max-width: 1000px;
     margin: 10px 50px 10px 60px;
     text-align: justify;
}

footer {
     margin: 50px;
     text-align: center;
}
