body {
     font-family: Times New Roman;
     margin: 0;
     padding: 0;
     background: white;
     color: black;
}

nav {
     display: flex; 
     justify-content: center;
     background-color: #EDD3EC;
     padding: 0;
     margin: 0;
}

nav a {
     display: block;
     padding: 14px 20px;
     text-decoration: none;
     color: black; 
     font-weight: bold;
}

nav a.active {
     background-color: #E1A6FF;
     color: white; 
}

nav a:hover {
     text-decoration: underline;
}

.profile-card {
     background-color: #EDD3EC;
     margin: 20px auto; 
     padding: 30px 40px;
     border-radius: 5px;
     box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.5);
     width: 90%;         
     max-width: 1000px;   
     min-height: 250px;
}

.profile-card img {
     width: 250px;      
     height: 250px;     
     border-radius: 50%;
     border: 5px solid #C756FF;
     box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.7);
     float: left;
     margin-right: 30px;
     position: relative;
     z-index: 2;
}

.profile-card h2 {
     background-color: white; 
     display: inline-block;     
     padding: 10px 30px 10px 100px;     
     border-radius: 999px;     
     margin-left: -130px;       
     position: relative;        
     z-index: 1;                
     letter-spacing: 1px;
     margin-top: 10px;
     opacity: 0;
     transform: translateX(20px);
     animation: slideInX 1s ease forwards;
}

.profile-card h2:hover {
     transform: scale(1.05);
     transition: all 0.3s ease-in-out;
}

.profile-card p {
     text-align: justify;
     max-width: 600px;
     line-height: 1.0;
     margin-top: 20px;
     margin-left: 350px;
}

.container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 20px;
}

.column {
     display: inline-block;
     background-color: #EDD3EC;
     padding: 38px;
     border-radius: 5px;
     width: 270px;
     box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.5);
}

.column h3 {
     background-color: white; 
     display: inline-block;     
     padding: 8px 10px 8px 25px;      
     border-radius: 0 999px 999px 0;     
     margin-left: -38px; 
     text-align: right;        
     position: relative;                       
     letter-spacing: 1px;
     margin-top: -10px;
     font-size: 0.9rem;
     box-shadow: 2px 8px 10px rgba(0,0,0,0.1);
     opacity: 0;
     transform: translateX(20px);
     animation: slideInX 1s ease forwards;
}

.column h3:hover {
     transform: scale(1.05);
     transition: all 0.3s ease-in-out;
}

@keyframes slideInX {
    from {
        opacity: 0;
        transform: translateX(-5px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.column ul {
     margin: 15px 0;
     padding-left: 0;
     list-style-type: none;
}

.column ul li {
     line-height: 1.5;
     text-align: left;
     word-wrap: break-word;       
     overflow-wrap: break-word;
     width: 110%; 
     margin-bottom: 8px;
}

.blog-title {
     display: flex;
     align-items: center;
     text-align: center;
     margin: 60px 0 10px;
     width: 100%;
}

.blog-title::before, .blog-title::after {
     content: "";
     flex: 1;
     height: 2px;
     background-color: #C756FF;
}

.blog-title h3 {
     margin: 0;
     padding: 0 10px 0 10px;
     font-size: 24px;
     text-shadow: 0 4px 4px #C756FF;
}

body p {
     margin: 5px 0 20px 0;
     text-align: center;
     font-size: 18px;
}

.card-container {
     display: flex;
     flex-wrap: nowrap;
     width: 100%;
     gap: 50px;  
     overflow-x: auto;
     overflow-y: hidden;
     padding: 20px;
     border: 1px solid #C756FF;
     box-sizing: border-box;
}

.cardblog {
     flex: 0 0 auto; 
     background-color: white;
     border-radius: 30px;
     font-size: 20px;
     width: 250px;
     height: 250px;
     text-align: center;
     transition: transform 0.3s ease-in-out;
     position: relative;
     box-shadow: 
        -15px 0 0 0 #C756FF, 
        8px 8px 15px -6px rgba(0, 0, 0, 0.7);
     line-height: 15px;
}

.cardblog:hover {
    transform: scale(1.03);
}

.cardblog a {
    text-decoration: none;
}

.cardblog a:hover {
    text-decoration: underline;
}

.blog-icon {
     color: #C756FF;
     padding: 30px 10px 0 10px;
     filter: drop-shadow(0 2px 1px black);
}

.cardblog p {
     padding-top: 15px;
}

footer {
     margin: 50px;
     text-align: center;
}
