body {
     font-family: Times New Roman;
     margin: 0;
     padding: 0;
     background: white;
     color: black;
}

nav {
     display: flex; 
     justify-content: center;
     background-color: #EDD3EC;
     padding: 0;
     margin: 0;
}

nav a {
     display: block;
     padding: 14px 20px;
     text-decoration: none;
     color: black; 
     font-weight: bold;
}

nav a.active {
     background-color: #E1A6FF;
     color: white; 
}

nav a:hover {
     text-decoration: underline;
}

.banner {
     padding: 20px 40px;
     margin-bottom: 50px;
     text-align: center;
     background-image: linear-gradient(#E1A6FF, #66158F);
     height: 200px;
     color: white
}

.banner h1 {
     margin: 45px 0 20px 0;              
     font-size: 50px;
     opacity: 0;
     transform: translateY(20px);
     animation: fadeUp 1s ease forwards;
}

.banner h1:hover {
     transform: scale(1.05);
     transition: all 0.3s ease-in-out;

}

.banner p {
     margin: 0;
     font-style: italic;
     font-size: 20px;
     line-height: 0.5;
     opacity: 0;
     transform: translateY(15px);
     animation: fadeUp 1s ease forwards;
     animation-delay: 0.3s;
}

.banner p:hover {
     transform: translateY(-1px);
     transition: all 0.3s ease-in-out;

}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.columns {
     display: flex;
     flex-wrap: wrap;
     gap: 60px;
     justify-content: center;
}

.card {
     background-color: white;
     padding: 15px;
     border-radius: 30px;
     width: 200px;
     text-align: center;
     text-decoration: none;
     transition: transform 0.3s ease-in-out;
     position: relative;
     box-shadow: 
        -15px 0 0 0 #C756FF, 
        8px 8px 15px -6px rgba(0, 0, 0, 0.7);
}

.card:hover {
     transform: scale(1.07);
}

.card img {
     width: 100%;
     height: auto;
     border-radius: 30px;
}

.card p {
     margin: 10px 0 5px;
     font-size: 15px;
}

footer {
     margin: 50px;
     text-align: center;
}
